/*
#036396
#24B2FF
#0997E3
#965500
#E38409
*/

* {
    margin: 0;
    padding: 0;
}

.topnav {
    background-color: red;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
  }

